*{
    text-decoration: none !important;   
}

p{
    margin: 0px !important;
    padding: 0px !important;
}

a{
    margin: 0px !important;
    padding: 0px !important;
}


input:focus{
    color: black;
}


/* navbar */

.logo{
    height: 50px;
}

.navbar_custom{
    justify-content: space-evenly !important;
}


