{% extends 'baseadmin.html' %}

{% block title %} Edit_Coupon {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-4 text-white">

    <div class="row g-0">
        <div class="text-center p-4">
            <img class="logo mb-2" src="{% static 'images/logo.png' %}" alt="">
        </div>
    </div>

    <div class="row g-0">

        <div class="d-flex justify-content-center">
            <div class="col-12 col-md-6 p-5" style="background-color: rgb(15, 15, 15); border-radius: 10px;">

                <div>
                    <h4 class="text-center pb-3"><u>Edit Coupon</u></h4>
                </div>

                <div>
                    {% for field,error in couponform.errors.items %}
                    <div class="alert alert-danger my-3 p-1 text-center" role="alert">
                        {{ error|striptags }}
                    </div>
                    {% endfor %}
                </div>
    
                <form action="#" method="POST">
                    {% csrf_token %}
    
                    <div class="">
                        {{ couponform.as_p }}
                    </div>
                    <div class="text-center pt-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <div class="p-3 d-flex justify-content-start">
                        <a href="{% url 'admin_coupons' %}">
                        <p class="text-white"><i class="fa fa-arrow-left"></i> Back to coupons</p></a>
                    </div>
                </form>
    
            </div>
        </div>
        
    </div> <!-- row ends -->

</div> <!-- container ends -->


{% endblock body %}