{% extends 'baseadmin.html' %}

{% block title %} admin_products {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-3 text-white">
    
    <div class="d-flex">

        {% include 'sidebar.html' %}

        <div class="col-sm-10 col-md-10 overflow-auto"
            style="background-color: rgb(15, 15, 15); border-radius: 10px;">

            <div class="mx-auto">

                <div class="header_admin_body">
                    <div>
                        <h5 class="p-3"><u>Product Management:</u></h5>
                    </div>
                    <div>
                        {% include 'alerts.html' %}
                    </div>
                    <div class="p-2 d-flex justify-content-end">
                        <a class="p-2 text-white btn btn-primary" href="{% url 'admin_addproduct' %}">+ Add Product</a>
                    </div>

                </div>

                <div class="overflow-auto px-2">
                    <table class="text-white table table-striped table-bordered table-hover text-center align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Slug</th>
                                <!-- <th scope="col">Description</th> -->
                                <th scope="col">Price</th>
                                <!-- <th scope="col">Images</th> -->
                                <th scope="col">Stock</th>
                                <th scope="col">Availability</th>
                                <th scope="col">Category</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="text-white">{{product.id}}</td>
                                <td class="text-white">{{product.product_name}}</td>
                                <td class="text-white">{{product.slug}}</td>
                                <!-- <td class="text-white">{{product.description}}</td> -->
                                <td class="text-white">{{product.price}}</td>
                                <td class="text-white">{{product.stock}}</td>
                                <td class="text-white">{{product.is_available}}</td>
                                <td class="text-white">{{product.category}}</td>
                                <td class="d-flex align-items-center">
                                    <a href="{% url 'admin_editproduct' product.id %}" class="text-white fa fa-edit fa-beat-fade"></a> &nbsp;&nbsp;
                                    <a href="{% url 'admin_deleteproduct' product.id %}" class="text-white fa fa-trash fa-beat-fade"></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>


{% endblock body %}