{% extends 'baseadmin.html' %}


{% block title %} admin_reports {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-3 text-white">
   
    <div class="d-flex">

        {% include 'sidebar.html' %}

        <div class="col-sm-10 col-md-10 overflow-auto" style="background-color: rgb(15, 15, 15); border-radius: 10px;">


            <div class="mx-auto">

                <div class="container pt-5 d-flex align-items-center justify-content-center">
                    
                    <button class="btn btn-success p-2 ms-5"><a class="text-white" href="{% url 'export_pdf' %}">Generate Report  <i class="fa fa-duotone fa-file-pdf"></i></a></button>
                    <button class="btn btn-success p-2 ms-5"><a class="text-white" href="{% url 'export_pdf' %}">Generate Report  <i class="fa fa-duotone fa-file-excel"></i></a></button>
                    
                </div>

                <div>
                    {% include 'alerts.html' %}
                </div>

                <h5 class="p-3"><u>Completed Orders:</u></h5>
                <div class="overflow-auto px-2">
                    <table class="text-white table table-striped table-bordered table-hover text-center align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Order Number</th>
                                <th scope="col">Ordered By</th>
                                <th scope="col">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td class="text-white">{{order.order_number}}</td>
                                <td class="text-white">{{order.full_name}}</td>
                                <td class="text-white">{{order.order_total}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>


{% endblock body %}