{% extends 'baseadmin.html' %}

{% block title %} admin_Categories {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-3 text-white">
    
    <div class="d-flex">

        {% include 'sidebar.html' %}


        <div class="p-5 col-sm-10 col-md-10 overflow-auto" style="background-color: rgb(15, 15, 15); border-radius: 10px;">

            <div class="vh-100 mx-auto">
    
                <div class="header_admin_body">
                    <div>
                        <h5 class="py-3"><u>Category Management:</u></h5>
                    </div>
                    <div class="text-center">
                        {% include 'alerts.html' %}
                    </div>
                    <div class="p-2 d-flex justify-content-end">
                        <a class="p-2 text-white btn btn-primary" href="{% url 'admin_addcategory' %}">+ Add Category</a>
                    </div>
    
                </div>
    
                <div class="overflow-auto">
                    <table class="text-white table table-striped table-bordered table-hover text-center align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Category ID</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Slug</th>
                                <!-- <th scope="col">Description</th> -->
                                <!-- <th scope="col">Image</th> -->
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td class="text-white">{{category.id}}</td>
                                <td class="text-white">{{category.category_name}}</td>
                                <td class="text-white">{{category.slug}}</td>
                                <!-- <td class="text-white">{{category.description}}</td> -->
                                <!-- <td class="text-white">{{category.image}}</td> -->
                                <td><a class="text-white" href="{% url 'admin_editcategory' category.id %}"><i class="fa fa-edit fa-beat-fade"></i></a>&nbsp;
                                    <a class="text-white" href="{% url 'admin_deletecategory' category.id %}"><i class="fa fa-trash fa-beat-fade"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    
            </div>
    
        </div>

    </div>
</div>


{% endblock body %}