{% extends 'base.html' %}

{% block title %} admin_signin {% endblock title %}


{% block body %}

{% load static %}


<div class="container">

    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        <a class="navbar-brand text-center" href="#"><img class="mb-4 logo" src="{% static 'images/logo.png' %}"
            alt=""></a>
        <form action="{% url 'admin_signin' %}" method="POST"
            class="d-grid justify-content-center mt-2 border border-success rounded" style="width:23rem;">
            {% csrf_token %}
            <div>
                <h5 class="text-center text-white py-4">ADMIN PANEL</h5>
            </div>
            <div class="text-center">
                {% include 'alerts.html' %}
            </div>
            <div class="mb-3">
                <input name="email" class="form-control" placeholder="Enter Email" style="color:black;">
            </div>
            <div class="mb-2">
                <input name="password" type="password" class="form-control" placeholder="Enter Password">
            </div>
            <div class="mb-3 d-flex justify-content-end">
                <a class="text-white" href="" style="font-size: 13px;">Forgot password?</a>
            </div>
            <button type="submit" class="px-5 btn btn-success">Signin</button>
            <div class="text-center mt-4">
                <p class="mb-4 text-white">Don't have an account?<a href="#" class="text-white"><b>
                            Sign Up</b></a></p>
            </div>
        </form>
    </div>

</div>


{% endblock body %}