{% extends 'baseadmin.html' %}

{% block title %} admin_users {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-3 text-white">

    <div class="d-flex">

        {% include 'sidebar.html' %}

        <div class="p-5 col-sm-10 col-md-10 overflow-auto"
            style="background-color: rgb(15, 15, 15); border-radius: 10px;">

            <div class="vh-100 mx-auto">

                <div class="header_admin_body">
                    <div>
                        <h5 class="pb-3"><u>User Management:</u></h5>
                    </div>
                    <div class="text-center">
                        {% include 'alerts.html' %}
                    </div>

                    {% comment %} <form class="d-flex mb-4" role="search" action="searchuser" method="get">
                        <input class="form-control" type="search" placeholder="Search User" aria-label="Search"
                            name="searchuser">
                        <a href=""><button class="ms-2 btn btn-primary" type="submit">Search</button></a>
                    </form> {% endcomment %}
                    
                </div>

                <div class="overflow-auto">
                    <table class="text-white table table-striped table-bordered table-hover text-center align-middle">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            {% if user.is_superadmin %}
                            {% else %}
                            <tr>
                                <td class="text-white">{{user.first_name}}</td>
                                <td class="text-white">{{user.last_name}}</td>
                                <td class="text-white">{{user.username}}</td>
                                <td class="text-white">{{user.email}}</td>

                                {% if user.is_active %}
                                <td><a href="{% url 'user_block' user.id %}"><button class="text-white btn btn-primary">Block</button></a></td>
                                {% else %}
                                <td><a href="{% url 'user_unblock' user.id %}"><button class="text-white btn btn-primary">Unblock</button></a></td>
                                {% endif %}

                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    {% endblock body %}