{% extends 'baseadmin.html' %}

{% block title %} admin_Categories {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-4 text-white">
    <div class="text-center">
        <img class="mx-auto logo mb-2" src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div class="d-flex pt-3">

        <div class="col-sm-2 col-md-2" style="height: 85vh;">
            <div style="height:25% ;"></div>
            <div class="d-flex flex-column justify-content-start" style="height: 50%;">
                <a href="{% url 'admin_home' %}" class="px-2 d-flex align-items-center"> 
                    <img src="{% static 'images/dash.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Dashboard</p>
                </a>
                <a href="#" class="px-2 me-2 d-flex align-items-center">
                    <img src="{% static 'images/orders.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Orders</p>
                </a>
                <a href="{% url 'admin_products' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/search.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Products</p>
                </a>
                <a href="#" class="px-2 me-2 d-flex align-items-center" style="background-color: rgb(47, 48, 48); border-radius: 10px;">
                    <img src="{% static 'images/category.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Categories</p>
                </a>
                <a href="{% url 'admin_users' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/users.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Users</p>
                </a>
                <a href="{% url 'admin_signout' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/logout.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Logout</p>
                </a>
            </div>
        </div>


        <div class="p-5 col-sm-10 col-md-10 overflow-auto" style="background-color: rgb(15, 15, 15); border-radius: 10px;">

            <div class="vh-100 mx-auto">
    
                <div class="header_admin_body">
                    <div>
                        <h5 class="py-3"><u>Category Management:</u></h5>
                    </div>
                    <div class="p-2 d-flex justify-content-end">
                        <a class="p-2 text-white btn btn-primary" href="{% url 'admin_addcategory' %}">+ Add Category</a>
                    </div>
    
                    <!-- <form class="d-flex mb-4" role="search" action="searchuser" method="get">
                        <input class="form-control" type="search" placeholder="Search Product" aria-label="Search"
                            name="searchuser">
                        <a href=""><button class="ms-2 btn btn-primary" type="submit">Search</button></a>
                    </form> -->
                </div>
    
                <div class="overflow-auto">
                    <table class="text-white table table-striped table-bordered table-hover text-center align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Category ID</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Slug</th>
                                <th scope="col">Description</th>
                                {% comment %} <th scope="col">Image</th> {% endcomment %}
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            {% if user.is_superadmin %}
                            <tr>
                                <td class="text-white">{{category.id}}</td>
                                <td class="text-white">{{category.category_name}}</td>
                                <td class="text-white">{{category.slug}}</td>
                                <td class="text-white">{{category.description}}</td>
                                {% comment %} <td class="text-white">{{category.image}}</td> {% endcomment %}
                                <td><a class="text-white" href="{% url 'admin_editcategory' category.id %}"><i class="fa fa-edit"></i></a>&nbsp;
                                    <a class="text-white" href="{% url 'admin_deletecategory' category.id %}"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    
            </div>
    
        </div>

    </div>
</div>


{% endblock body %}