{% extends 'baseadmin.html' %}

{% block title %} admin_home {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-4 text-white">
    <div class="text-center">
        <img class="mx-auto logo mb-2" src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div class="d-flex pt-3">

        <div class="col-sm-2 col-md-2" style="height: 85vh;">
            <div style="height:25% ;"></div>
            <div class="d-flex flex-column justify-content-start" style="height: 50%;">
                <a href="#" class="px-2 me-2 d-flex align-items-center" style="background-color: rgb(47, 48, 48); border-radius: 10px;"> 
                    <img src="{% static 'images/dash.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white ">Dashboard</p>
                </a>
                <a href="{% url 'admin_orders' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/orders.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Orders</p>
                </a>
                <a href="{% url 'admin_products' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/search.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Products</p>
                </a>
                <a href="{% url 'admin_categories' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/category.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Categories</p>
                </a>
                <a href="{% url 'admin_users' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/users.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Users</p>
                </a>
                <a href="{% url 'admin_signout' %}" class="px-2 d-flex align-items-center">
                    <img src="{% static 'images/logout.png' %}" alt="" style="height: 15px;">
                    <p class="p-2 text-white">Logout</p>
                </a>
            </div>
        </div>
        <div class="col-sm-10 col-md-10 overflow-auto" style="background-color: rgb(15, 15, 15); border-radius: 10px;">
            <div class="m-5 d-flex justify-content-evenly text-center" style="height: 5rem;">
                <div class="m-2" style="background-color: rgb(47, 48, 48); width: 100%; border-radius: 5px;">
                    <h6 class="p-3">Shipped Orders</h6>
                </div>
                <div class="m-2" style="background-color: rgb(47, 48, 48); width: 100%; border-radius: 5px;">
                    <h6 class="p-3">Pending Orders</h6>
                </div>
                <div class="m-2" style="background-color: rgb(47, 48, 48); width: 100%; border-radius: 5px;">
                    <h6 class="p-3">New Orders</h6>
                </div>
            </div>
            <div class="d-flex mx-5">
                <h6 class="p-3">Total Revenue:</h6>
            </div>
            <div class="d-flex mx-5">
                <p class="p-3">Order Status:</p>
            </div>
        </div>

    </div>
</div>


{% endblock body %}s