{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head> 
<body style="background-color: #212529;">


<!-- navbar starts -->

<nav class="navbar navbar-light bg-dark">
    <div class="navbar_custom container-fluid">

        <a class="p-4 navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}"
                alt=""></a>
        <form action="{% url 'search' %}" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="p-4 d-flex align-items-center justify-content-evenly text-white">
            <a class="px-3 text-white" href="{% url 'store' %}"><b>Store</b></a>
            <div class="d-flex align-items-center">
                <img class="" src="{% static 'images/location.png' %}" alt="" style="height: 15px; margin-right: 3px;">
                <p>673579</p>
                <a href=""><img src="{% static 'images/edit.png' %}" alt=""
                        style="height: 14px; margin-left: 3px ;"></a>
            </div>
            {% if user is not None %}
            {% if user.is_superadmin %}
            <a class="text-white" href="{% url 'signin' %}">Login</a>
            {% else %}
            <div class="px-3">
                <p>Welcome, {{ user.first_name }}</p>
            </div>
            <div class="">
                <a href="{% url 'user_home' %}"><img src="{% static 'images/profile.png' %}" alt="" style="height: 20px;"></a>
            </div>
            <div class="px-3">
                <a href="{% url 'cart' %}" class="widget-header">
                    <div class="text-white">
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span><b>{{ cart_count }}</b></span>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="{% url 'signout' %}"><img src="{% static 'images/logout.png' %}" alt=""
                        style="height: 20px;"></a>
            </div>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <hr>
</nav>
<div class="d-flex justify-content-center">
    <hr class="text-white" style="width:80%;">
</div>

<!-- navbar ends -->


{% block body %} {% endblock body %}


<!-- footer starts -->

<div class="bg-dark p-4 text-center">
    <hr class="text-white">
    <div>
        <p class="py-3 text-white">CONNECT WITH US</p>
    </div>
    <div>
        <a href=""><img class="px-2" src="{% static 'images/instagram.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/fb.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/twitter.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/linkedin.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/youtube.png' %}" alt="" style="height: 18px;"></a>
    </div>
    <div>
        <p class="py-3 text-white">© Copyright 2022 iShop. All rights reserved</p>
    </div>
</div>

<!-- footer ends -->


    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>