{% extends 'base.html' %}

{% block title %} Change password {% endblock title %}


{% block body %}

{% load static %}




<div class="my-5 container text-white">


        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <div class="pb-5 text-center">
                    <h4 class="card-title">Change Your Password</h4>
                </div>
            </div>
        </div>
        
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4">
                <form action="{% url 'changepassword' %}" method="POST" enctype="multipart/form-data"
                    class="form-control border-0 text-white py-5" style="background-color: #2e343a; border-radius: 6%;">
                    {% csrf_token %}
                    {% include 'alerts.html' %}
                    <div class="col mb-3 px-4">
                        <label class="labels">Current Password</label>
                        <input type="text" name="current_password" placeholder="current password" required
                            class="form-control">
    
                    </div>
                    <div class="col mb-3 px-4"><label class="labels">Create new password</label>
                        <input type="text" name="new_password" placeholder="Create password" required class="form-control">
    
                    </div>
                    <div class="col px-4"><label class="labels">Confirm Password</label>
                        <input type="text" name="confirm_password" placeholder="Re-enter Password" required
                            class="form-control">
    
                    </div>
    
                    <div class="mt-4 text-center"><button class="btn btn-primary profile-button" type="submit">Change
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
 

</div>



{% endblock body %}