{% extends 'base.html' %}

{% block title %} Checkout {% endblock title %}


{% block body %}

{% load static %}


<!-- navbar starts -->

<nav class="navbar navbar-light bg-dark">
    <div class="navbar_custom container-fluid">

        <a class="p-4 navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}"
                alt=""></a>
        <form action="{% url 'search' %}" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="p-4 d-flex align-items-center justify-content-evenly text-white">
            <a class="px-3 text-white" href="{% url 'store' %}"><b>Store</b></a>
            <div class="d-flex align-items-center">
                <img class="" src="{% static 'images/location.png' %}" alt="" style="height: 15px; margin-right: 3px;">
                <p>673579</p>
                <a href=""><img src="{% static 'images/edit.png' %}" alt=""
                        style="height: 14px; margin-left: 3px ;"></a>
            </div>
            {% if user is not None %}
            {% if user.is_superadmin %}
            <a class="text-white" href="{% url 'signin' %}">Login</a>
            {% else %}
            <div class="px-3">
                <a href="#"><img src="{% static 'images/profile.png' %}" alt="" style="height: 20px;"></a>
            </div>
            <div class="">
                <a href="{% url 'cart' %}" class="widget-header">
                    <div class="text-white">
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span><b>{{ cart_count }}</b></span>
                    </div>
                </a>
            </div>
            <div class="px-3">
                <a href="{% url 'signout' %}"><img src="{% static 'images/logout.png' %}" alt=""
                        style="height: 20px;"></a>
            </div>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <hr>
</nav>

<!-- navbar ends -->


<!-- checkout starts -->

<!-- Order Summary,Shipping Details,Payment Details -->

<section class="h-100 text-white">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body">
                        <h4 class="card-title">Payment Details</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body">
                        <h4 class="card-title">Shipping Address</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-6">
                <div class="card" style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Order Summary:</h4>
                        {% if not cart_items %}
                        <h2 class="text-center mb-5">Your Cart is Empty!</h2>
                        <div class="text-center">
                            <a href="{% url 'store' %}" class="btn btn-success p-2">Continue Shopping</a>
                        </div>
                        {% else %}
                        {% for cart_item in cart_items %}
                        <hr class="my-4">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="{{ cart_item.product.images.url }}" class="img-fluid rounded-3"
                                    alt="Product Image">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="">Product Name:</p>
                                <a class="" href="{{ cart_item.product.get_url }}">
                                    <h6 class="text-white mt-2">{{ cart_item.product.product_name }}</h6>
                                </a>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2">
                                <p class="text-center">Qty:</p>
                                <h6 class="mt-2 text-center">{{ cart_item.quantity }}</h6>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <p class="">Price:</p>
                                <h6 class="mt-2">₹{{ cart_item.product.price }}</h6>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- place Order, continue Shoppping -->

<section class="h-100 h-custom text-white">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2"
                    style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="d-flex justify-content-center">
                                        <a href=""></a>
                                        <button type="button" class="btn btn-success btn-block btn-lg me-2"
                                            data-mdb-ripple-color="dark">Place Order
                                        </button>
                                        <button type="button" class="btn btn-primary btn-block btn-lg"
                                            data-mdb-ripple-color="dark">Continue Shopping
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- checkout ends -->


<!-- footer starts -->

<div class="bg-dark p-4 text-center">
    <hr class="text-white">
    <div>
        <p class="py-3 text-white">CONNECT WITH US</p>
    </div>
    <div>
        <a href=""><img class="px-2" src="{% static 'images/instagram.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/fb.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/twitter.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/linkedin.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/youtube.png' %}" alt="" style="height: 18px;"></a>
    </div>
    <div>
        <p class="py-3 text-white">© Copyright 2022 iShop. All rights reserved</p>
    </div>
</div>

<!-- footer ends -->


{% endblock body %}