{% extends 'base.html' %}

{% block title %} Checkout {% endblock title %}


{% block body %}

{% load static %}


<!-- checkout starts -->

<!-- Order Summary,Shipping Details,Payment Details -->

<section class="h-100 text-white">
    <div class="container py-5">

        <div class="row justify-content-evenly">
            <div class="col-lg-6">
                <div class="card" style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body">
                        <h4 class="card-title">Enter Address:</h4>
                        <form action="{% url 'checkout_review' %}" method="POST" class="text-white p-3">
                            {% csrf_token %}
                            <div class="d-flex">
                                <div class="col form-group">
                                    <label for="">First Name </label>
                                    <input type="text" name="first_name" class="form-control" required>
                                </div>
                                <div class="col form-group ms-2">
                                    <label for="">Last Name </label>
                                    <input type="text" name="last_name" class="form-control" required>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col form-group">
                                    <label for="">Phone Number</label>
                                    <input type="text" name="phone" class="form-control" required>
                                </div>
                                <div class="col form-group ms-2">
                                    <label for="">Email </label>
                                    <input type="text" name="email" class="form-control" required>
                                </div>
                            </div>
                             
                            <div class="col form-group">
                                <label for="">Address Line 1 </label>
                                <input type="text" name="address_line_1" class="form-control" required>
                            </div>
                            <div class="col form-group">
                                <label for="">Address Line 2 </label>
                                <input type="text" name="address_line_2" class="form-control">
                            </div>
                            <div class="d-flex">
                                <div class="col form-group">
                                    <label for="">City</label>
                                    <input type="text" name="city" class="form-control" required>
                                </div>
                                <div class="col form-group mx-2">
                                    <label for="">State</label>
                                    <input type="text" name="state" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Country</label>
                                    <input type="text" name="country" class="form-control" required>
                                </div>
                            </div>
                            
                            <div class="col form-group">
                                <label for="">Order Note</label>
                                <input type="text" name="order_note" class="form-control">
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                <div class="card" style="border-radius: 15px; background-color: #282d32; width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Order Summary:</h4>
                        {% if not cart_items %}
                        <h2 class="text-center mb-5">Your Cart is Empty!</h2>
                        <div class="text-center">
                            <a href="{% url 'store' %}" class="btn btn-success p-2">Continue Shopping</a>
                        </div>
                        {% else %}
                        <hr class="my-4">
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="text-uppercase">Total:</h5>
                            <h5>₹{{ total }}</h5>
                        </div> 
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="text-uppercase">Tax:</h5>
                            <h5>₹{{ tax }}</h5>
                        </div> 
                        <div class="d-flex justify-content-between">
                            <h5 class="text-uppercase">Grand Total:</h5>
                            <h5>₹{{ grand_total }}</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</section>

<!-- place Order, continue Shoppping -->

<section class="h-100 h-custom text-white">
    <div class="container pb-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2"
                    style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="d-flex justify-content-center">
                                        <a href="#">
                                            <button type="submit" name="submit" class="btn btn-primary btn-block btn-lg me-2"
                                                data-mdb-ripple-color="dark">Use This Address
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</section>

<!-- checkout ends -->


{% endblock body %}