{% extends 'base.html' %}

{% block title %} Checkout {% endblock title %}


{% block body %}

{% load static %}


<!-- Billing Address, payment method & review products starts-->

<section class="h-100 text-white">
    <div class="container pt-4">

        <!-- billing address -->
        <div class="row">
            <div class="py-3 col-lg-6">
                <div class="card" style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body">
                        <h4 class="card-title">Billing Address:</h4>
                        <div class="p-3">
                            <h6 class="mt-2">{{ order.full_name }}</h6>
                            <h6 class="mt-2">{{ order.full_address }}</h6>
                            <h6 class="mt-2">{{ order.city }}</h6>
                            <h6 class="mt-2">{{ order.state }}</h6>
                            <h6 class="mt-2">{{ order.country }}</h6>
                            <h6 class="mt-2">{{ order.orderemail }}</h6>
                            <h6 class="mt-2">{{ order.phone }}</h6>
                            {% if order.order_note %}
                            <b>Order Note: {{ order.order_note }}</b>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- payement method -->
            <div class="py-3 col-lg-6 d-flex">
                <div class="card" style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body p-5">
                        <h4 class="card-title pb-3">Select Payment Method:</h4>
                        <div class="">
                            <input type="radio" value="online" name="payment_method"> ONLINE <br>
                            <input type="radio" value="cod" name="payment_method"> COD <br>
                            <div class="text-center">
                                <img src="{% static 'images/payment_methods.png' %}" alt="" style="width:70%;"
                                    class="p-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- review products -->
        <div class="row py-2">
            <div class="col-lg-12">
                <div class="card" style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body p-5">
                        <h4 class="card-title mb-4">Review products:</h4>

                        {% for cart_item in cart_items %}
                        <hr class="my-4">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="{{ cart_item.product.images.url }}" class="img-fluid rounded-3"
                                    alt="Product Image">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="">Product Name:</p>
                                <a class="" href="{{ cart_item.product.get_url }}">
                                    <h6 class="text-white mt-2">{{ cart_item.product.product_name }}</h6>
                                    {% if cart_item.variations.all %}
                                    {% for item in cart_item.variations.all %}
                                    <div class="d-flex text-muted text-white-50">
                                        <p>{{ item.variation_category | capfirst }}</p>
                                        <p>: {{ item.variation_value | capfirst }}</p>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2">
                                <p class="">Qty:</p>
                                <h6 class="mt-2">{{ cart_item.quantity }}</h6>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <p class="">Price:</p>
                                <h6 class="mt-2">₹{{ cart_item.product.price }}</h6>
                            </div>
                        </div>
                        {% endfor %}

                        <hr class="my-4">
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="text-uppercase">Total:</h5>
                            <h5>₹{{ total }}</h5>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="text-uppercase">Tax:</h5>
                            <h5>₹{{ tax }}</h5>
                        </div>
                        <!-- coupen  -->
                        <div>
                            {% include 'alerts.html' %}
                        </div>
                        <h5 class="text-uppercase mb-3">Have a coupen?</h5>

                        <form action="{% url 'coupon_apply' order.order_number %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-5 row d-flex justify-content-evenly">
                                <div class="col-12 col-md-6">
                                    <div class="form-outline d-flex m-2">
                                        <input type="text" id="coupon" class="form-control form-control-lg" name="coupon"
                                            placeholder="Enter the code" required/>
                                        <button class="btn btn-primary ms-2" id="apply" type="submit">Apply</button>
                                    </div>
                                </div>
                                
                                {% if appliedcode %}
                                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                                    <div class="border border-success m-2">
                                        <p class="px-2" style="color: #4BB543; font-size: 20px;">APPLIED COUPON: {{ appliedcode }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </form>

                        {% if appliedcode %}
                        <div class="d-flex justify-content-between">
                            <h5 class="text-uppercase">Coupen:&nbsp;&nbsp;</h5>
                            <h5>₹ -{{ discount }}</h5>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <h5 class="text-uppercase">Grand Total:</h5>
                            <h5>₹{{ grand_total }}</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Billing Address, payment method & review products ends -->


<!-- starts -->

<section class="h-100 h-custom text-white">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 py-2">
            <div class="col-12">
                <div class="card card-registration card-registration-2"
                    style="border-radius: 15px; background-color: #282d32;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="d-flex justify-content-center">

                                        <!-- default -->
                                        <div id="selectpayment" style="color: red;">
                                            <h3>Please select a payment method</h3>
                                        </div>

                                        <!-- paypal -->
                                        <div id="paypal-button-container" style="display: none;"></div>

                                        <!-- cod -->
                                        <a href="{% url 'cod' order.order_number %}">
                                            <div class="btn btn-primary" id="cod-continue-button"
                                                style="display: none;">Place Order</div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- paypal integration scripts -->

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var amount = "{{ grand_total }}"
    var url = "{% url 'payments' %}"
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{ order.order_number }}"
    var payment_method = "PayPal"
    var redirect_url = "{% url 'order_complete' %}"

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
            color: 'white',
            shape: 'rect',
            label: 'pay',
        },

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: 10,
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                console.log(details);
                sendData();
                // var transaction = details.purchase_units[0].payments.captures[0];
                function sendData() {
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({
                            orderID: orderID,    // var orderID = "{{ order.order_number }}"
                            transID: details.id,  // from paypal response
                            payment_method: payment_method,  //var payment_method = " PayPal"
                            status: details.status,  //from paypal response
                        }),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
                        });
                }
            });
        }

    }).render('#paypal-button-container');
</script>


<!-- Payment selection -->
<script>
    const paypalBtn = document.getElementById("paypal-button-container")
    const codBtn = document.getElementById("cod-continue-button")
    const selectpayment = document.getElementById("selectpayment")

    document.querySelectorAll('input[name="payment_method"]').forEach((elem) => {
        elem.addEventListener("change", function (event) {
            const item = event.target.value;
            if (item == "") {
                paypalBtn.style.display = "none"
                codBtn.style.display = "none"
            } else if (item == "cod") {
                selectpayment.style.display = "none"
                paypalBtn.style.display = "none"
                codBtn.style.display = "block"
            } else {
                selectpayment.style.display = "none"
                paypalBtn.style.display = "block"
                codBtn.style.display = "none"
            }
        });
    });
</script>


<script>

</script>

{% endblock body %}