{% extends 'base.html' %}

{% block title %} home {% endblock title %}


{% block body %}

{% load static %}


<!-- navbar starts -->

<nav class="navbar navbar-light bg-dark">
    <div class="navbar_custom container-fluid">

        <a class="p-4 navbar-brand" href="#"><img class="logo" src="{% static 'images/logo.png' %}" alt=""></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="p-4 d-flex align-items-center justify-content-evenly text-white">
            <a class="text-white" href="{% url 'store' %}">Store</a>
            <div class="px-4 d-flex align-items-center">
                <img class="" src="{% static 'images/location.png' %}" alt="" style="height: 15px; margin-right: 3px;">
                <p>673579</p>
                <a href=""><img src="{% static 'images/edit.png' %}" alt=""
                        style="height: 14px; margin-left: 3px ;"></a>
            </div>
            <a class="text-white" href=""></a>
        </div>

    </div>
    <hr>
</nav>

<!-- navbar ends -->


<!-- banner starts -->

<div class="row gx-0 pb-5">
    <div class="bg-dark col-12 col-sm-12 col-md-6 p-5 d-flex align-items-center justify-content-center text-center">
        <p class="text-white" style="font-size:50px ;">A MOBILE PHONE FOR EVERY NEED</p>
    </div>
    <div class="d-flex justify-content-center col-12 col-sm-12 col-md-6"
        style="background:transparent url('{% static 'images/banner.png' %}') center center /cover; height:500px;">
    </div>
</div>

<!-- banner ends -->


<!-- treat yourself section starts -->

<div class="d-grid bg-dark p-5 mt-5 text-center align-items-center" style="height:400px ;">
    <h1 class="text-white">
        Treat Yourself To A New Mobile Phone
    </h1>
    <div class="row gx-0">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-12 col-md-8 col-lg-6">
            <h5 class="p-4 text-white">
                Experience the world at your fingertips!<br> Work, socialise, book a ride, play games,
                listen to music, watch your favourite shows, take a photo, or simply make a call!<br>
                Buy a mobile phone from iShop that does it all and then some.
            </h5>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>

<!-- treat yourself section ends -->


<!-- latest section starts -->

<div class="bg-dark p-5 mt-5 text-center">
    <h1 class="text-white">Latest In Mobile Phones</h1>
</div>

<!-- latest section starts -->



<!-- stay connected starts -->

<div class="d-grid bg-dark p-5 mt-5 text-center align-items-center" style="height:400px ;">
    <h1 class="text-white">
        Stay Connected With Whe Best Mobile Phones From iShop
    </h1>
    <div class="row gx-0">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-12 col-md-8 col-lg-6">
            <h5 class="p-4 text-white">
                Whether you are about to buy your first mobile phone or upgrading
                to the latest smartphone, iShop's range of mobile phones is all
                you need. You can browse from a collection of mobile phones across
                storage capacities, camera specifications, and colours. While mobile
                phone prices differ according to features, you will always find the
                best deal at iShop.com.
            </h5>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>


<!-- stay connected ends -->


<!-- your favourite starts -->

<div class="p-5 mt-5 bg-dark p-4 text-center">
    <h1 class="text-white">Choose Your Favourite Accessories</h1>
</div>

<!-- your favourite ends -->


<!-- footer starts -->

<div class="bg-dark p-4 text-center">
    <hr class="text-white">
    <div>
        <p class="py-3 text-white">CONNECT WITH US</p>
    </div>
    <div>
        <a href=""><img class="px-2" src="{% static 'images/instagram.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/fb.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/twitter.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/linkedin.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/youtube.png' %}" alt="" style="height: 18px;"></a>
    </div>
    <div>
        <p class="py-3 text-white">© Copyright 2022 iShop. All rights reserved</p>
    </div>
</div>

<!-- footer ends -->


{% endblock body %}