{% extends 'base.html' %}

{% block title %} Myaddress {% endblock title %}


{% block body %}

{% load static %}


<div class="container-fluid p-5 text-white" >
    <h3 class="pb-5 text-center ">My Account</h3>
    <div class="row g-0 d-flex justify-content-evenly">

        <div class="col-12 col-sm-6 col-md-3 text-center my-2"
            style="border-radius: 15px; background-color: #2e343a; width:330px;">
            <p>{{ firstname }}</p>
            <p>{{ firstname }}</p>
            <p>{{ firstname }}</p>
            <p>{{ firstname }}</p>
            <p>{{ firstname }}</p>
        </div>

    </div>
</div>


{% endblock body %}