{% extends 'base.html' %}

{% block title %} Store {% endblock title %}


{% block body %}

{% load static %}



<!-- product description section starts -->

<div class="container text-white">
    <div class="row gx-0 align-items-center">

        <div class="zoom col-12 col-md-6 p-5 d-flex justify-content-center">
            <img src="{{ single_product.images.url }}" alt="image" style="width: 20rem;">
        </div>

        <div class="col-12 col-md-6 p-5">
            <form action="{% url 'add_cart' single_product.id %}" method="POST">
                {% csrf_token %}
                <h3>{{ single_product.product_name }}</h3>
                <h4>₹{{ single_product.price }}</h4>
                <p class="pb-2">(incl. all Taxes)</p>
                <div>
                    <b>Key Features:</b>
                    <p>{{ single_product.description }}</p>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <div class="text-center">
                        <b class="">Color:</b>
                        <select name="color" class="form-control mb-2" style="width: 100px;" required>
                            <option value="" disabled selected>Select</option>
                            {% for i in single_product.variation_set.colors %}
                            <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="ms-3 text-center">
                        <b>Storage:</b>
                        <select name="storage" class="form-control" style="width: 100px;" required>
                            <option value="" disabled selected>Select</option>
                            {% for i in single_product.variation_set.storages %}
                            <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    {% if single_product.stock <= 0 %} <h3 class="text-danger">Out of Stock</h3>
                        {% else %}
                        <button type="submit" class="btn btn-primary ms-3 p-2">
                            <span class="text">Add to Cart</span>
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        {% endif %}
                </div>
            </form>
        </div>

    </div>
</div>

<!-- product description section ends -->
<style>
    /* * {
      box-sizing: border-box;
    } */
    .zoom {
      /* padding: 50px; */
      /* background-color: green; */
      transition: transform .5s;
      /* width: 200px; */
      /* height: 200px; */
      /* margin: 0 auto; */
    }
    
    .zoom:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
    }
    </style>

{% endblock body %}