{% extends 'base.html' %}

{% block title %} Store {% endblock title %}


{% block body %}

{% load static %}


<!-- navbar starts -->

<nav class="navbar navbar-light bg-dark">
    <div class="navbar_custom container-fluid">

        <a class="p-4 navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}"
                alt=""></a>
        <form action="{% url 'search' %}" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="p-4 d-flex align-items-center justify-content-evenly text-white">
            <a class="px-3 text-white" href="{% url 'store' %}"><b>Store</b></a>
            <div class="px-3 d-flex align-items-center">
                <img class="" src="{% static 'images/location.png' %}" alt="" style="height: 15px; margin-right: 3px;">
                <p>673579</p>
                <a href=""><img src="{% static 'images/edit.png' %}" alt=""
                        style="height: 14px; margin-left: 3px ;"></a>
            </div>
            {% if user is None %}
            <a class="text-white" href="{% url 'signin' %}">Login</a>
            {% else %}
            <div class="px-3">
                <a href="#"><img src="{% static 'images/profile.png' %}" alt="" style="height: 20px;"></a>
            </div>
            <div class="">
                <a href="{% url 'cart' %}" class="widget-header">
                    <div class="text-white">
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span><b>{{ cart_count }}</b></span>
                    </div>
                </a>
            </div>
            <div class="px-3">
                <a href="{% url 'signout' %}"><img src="{% static 'images/logout.png' %}" alt=""
                        style="height: 20px;"></a>
            </div>
            {% endif %}
        </div>

    </div>
    <hr>
</nav>

<!-- navbar ends -->



<!-- product description section starts -->

<div class="container text-white">
    <div class="row gx-0 align-items-center">

        <div class="col-12 col-md-6 p-5 d-flex justify-content-center">
            <img src="{{ single_product.images.url }}" alt="image" style="width: 20rem;">
        </div>

        <div class="col-12 col-md-6 p-5">
            <form action="{% url 'add_cart' single_product.id %}" method="GET">
                <h3>{{ single_product.product_name }}</h3>
                <h4>₹{{ single_product.price }}</h4>
                <p class="pb-2">(incl. all Taxes)</p>
                <div>
                    <b>Key Features:</b>
                    <p>{{ single_product.description }}</p>
                </div>
                <div class="mt-3">
                    <b>Choose Color:</b>
                    <select name="color" class="form-control mb-2"> 
                        <option value="" disabled selected>Select</option>
                        {% for i in single_product.variation_set.all %}
                        <option value="{{ i.variation_value }}">{{ i.variation_value }}</option>
                        {% endfor %}
                    </select>
                    <b>Choose Storage:</b> 
                    <select name="storage" class="form-control">
                        <option value="" disabled selected>Select</option>
                        {% for i in single_product.variation_set.all %}
                        <option value="{{ i.variation_value }}">{{ i.variation_value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    {% if single_product.stock <= 0 %} <h3 class="text-danger">Out of Stock</h3>
                        {% else %}
                        {% if in_cart %}
                        <a href="#" class="btn btn-success ms-3 p-2"> <span class="text">Added to Cart</span> <i
                                class="fa fa-check"></i> </a>
                        <a href="{% url 'cart' %}" class="text-white btn btn-outline-primary ms-3 p-2"> <span class="text">View
                                Cart</span> <i class="fa fa-eye"></i> </a>
                        {% else %}
                        <button type="submit" class="btn btn-primary ms-3 p-2"><span class="text">Add to Cart</span> <i
                                class="fa fa-shopping-cart"></i> </button>
                        {% endif %}
                        {% endif %}
                </div>
            </form>
        </div>

    </div>
</div>



<!-- product description section ends -->




<!-- footer starts -->

<div class="bg-dark p-4 text-center">
    <hr class="text-white">
    <div>
        <p class="py-3 text-white">CONNECT WITH US</p>
    </div>
    <div>
        <a href=""><img class="px-2" src="{% static 'images/instagram.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/fb.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/twitter.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/linkedin.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/youtube.png' %}" alt="" style="height: 18px;"></a>
    </div>
    <div>
        <p class="py-3 text-white">© Copyright 2022 iShop. All rights reserved</p>
    </div>
</div>

<!-- footer ends -->


{% endblock body %}