{% extends 'base.html' %}

{% block title %} home {% endblock title %}


{% block body %}

{% load static %}

<div class="container">
    <div class="row g-0 text-white d-flex justify-content-center p-5">
        <div class="col-12 col-lg-6 py-2 text-center">
            <div class="card" style="border-radius: 15px; background-color: #282d32;">
                <div class="card-body">
                    <h4 class="card-title p-3">Payment Success !</h4>
                    <div class="p-3">
                        <i class="fa fa-check" aria-hidden="true"></i>  <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}