{% extends 'base.html' %}

{% block title %} User_profile {% endblock title %}

{% block body %}

{% load static %}


<!-- navbar starts -->

<nav class="navbar navbar-light bg-dark">
    <div class="navbar_custom container-fluid">

        <a class="p-4 navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}"
                alt=""></a>
        <form action="{% url 'search' %}" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="p-4 d-flex align-items-center justify-content-evenly text-white">
            <a class="px-3 text-white" href="{% url 'store' %}"><b>Store</b></a>
            <div class="d-flex align-items-center">
                <img class="" src="{% static 'images/location.png' %}" alt="" style="height: 15px; margin-right: 3px;">
                <p>673579</p>
                <a href=""><img src="{% static 'images/edit.png' %}" alt=""
                        style="height: 14px; margin-left: 3px ;"></a>
            </div>
            {% if user is not None %}
            {% if user.is_superadmin %}
            <a class="text-white" href="{% url 'signin' %}">Login</a>
            {% else %}
            <div class="px-3">
                <a href="#"><img src="{% static 'images/profile.png' %}" alt="" style="height: 20px;"></a>
            </div>
            <div class="">
                <a href="{% url 'cart' %}" class="widget-header">
                    <div class="text-white">
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span><b>{{ cart_count }}</b></span>
                    </div>
                </a>
            </div>
            <div class="px-3">
                <a href="{% url 'signout' %}"><img src="{% static 'images/logout.png' %}" alt=""
                        style="height: 20px;"></a>
            </div>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <hr>
</nav>
<div class="d-flex justify-content-center">
    <hr class="text-white" style="width:80%;">
</div>
<!-- navbar ends -->


<!-- userprofile starts -->

<div class="container-fluid p-5 text-white">
    <h3 class="pb-5">My Account</h3>
    <div class="row g-0 d-flex justify-content-evenly">

        <div class="col-12 col-sm-6 col-md-3 text-center my-2"
            style="border-radius: 15px; background-color: #2e343a; width:330px;">
            <a href="" class="text-white p-2">
                <h5>My Profile</h5>
                <p style="font-size: 12px;">Edit your basic details</p>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center my-2"
            style="border-radius: 15px; background-color: #2e343a; width:330px;">
            <a href="" class="text-white p-2">
                <h5>My Address</h5>
                <p style="font-size: 12px;">Manage your saved addresses</p>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center my-2"
            style="border-radius: 15px; background-color: #2e343a; width:330px;">
            <a href="" class="text-white p-2">
                <h5>My Orders</h5>
                <p style="font-size: 12px;">View, track, cancel orders and buy again</p>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center my-2"
            style="border-radius: 15px; background-color: #2e343a; width:330px;">
            <a href="" class="text-white p-2">
                <h5>My Wishlist</h5>
                <p style="font-size: 12px;">Have a look at your favourite products</p>
            </a>
        </div>

    </div>
</div>

<!-- userprofile ends -->




<!-- footer starts -->

<div class="bg-dark p-4 text-center">
    <hr class="text-white">
    <div>
        <p class="py-3 text-white">CONNECT WITH US</p>
    </div>
    <div>
        <a href=""><img class="px-2" src="{% static 'images/instagram.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/fb.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/twitter.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/linkedin.png' %}" alt="" style="height: 20px;"></a>
        <a href=""><img class="px-2" src="{% static 'images/youtube.png' %}" alt="" style="height: 18px;"></a>
    </div>
    <div>
        <p class="py-3 text-white">© Copyright 2022 iShop. All rights reserved</p>
    </div>
</div>

<!-- footer ends -->


{% endblock body %}